<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="common.master.cs" Inherits="masterpageexamplepro.common" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
    <style>
        #divMain {
            height: 75%;
            width: 75%;
        }
    </style>
</head>
<body>
    <form id="form1" runat="server">
        <asp:Menu ID="Menu1" runat="server">
            <Items>
                <asp:MenuItem NavigateUrl="~/Home.aspx" Text="Home" Value="Home"></asp:MenuItem>
                <asp:MenuItem NavigateUrl="~/master2.aspx" Text="studentdata" Value="studentdata"></asp:MenuItem>
            </Items>
        </asp:Menu>
            <asp:SiteMapPath ID="SiteMapPath1" runat="server"></asp:SiteMapPath>
        <div id="divMain">

        <asp:ContentPlaceHolder ID="cplMain" runat="server">
        
        </asp:ContentPlaceHolder>
    </div>
    </form>
</body>
</html>
